// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";
@import "navbar";
@import "home";
@import "tombol";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Nunito", sans-serif;

    .judul {
        font-weight: 600;
        font-size: 28px;
    }

    .radius-gambar {
        border-radius: 12px;
    }

    .btn-container {
        display: flex;
        align-items: center;
    }
}

#sidebar-info {
    padding: 30px;
    background-color: #009e0f;
    color: #fff;

    .info-jadwal {
        margin-top: 20px;
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
        }
    }

    .btn-grup-wa {
        font-weight: 600;
        padding: 10px 20px;
        background-color: #fff;
        color: #009e0f;
    }

    .btn-login {
        font-weight: 600;
        padding: 10px 20px;
        background-color: #ffff00;

        &:hover {
            color: #000;
        }
    }
}

#form-pendaftaran {
    padding: 30px 20px;

    h5 {
        font-weight: 700;
    }
    label {
        font-weight: 700;
    }

    .tombol {
        padding: 8px 16px;
        background-color: #009e0f;
        color: #fff;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;

        &:hover {
            background-color: #10c122;
            color: #fff;
        }
    }
}

#sidebar-login {
    padding: 30px;
    background-color: #009e0f;
    color: #fff;
    height: 100vh;

    .info-jadwal {
        margin-top: 20px;
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
        }
    }

    .btn-grup-wa {
        font-weight: 600;
        padding: 10px 20px;
        background-color: #fff;
        color: #009e0f;
    }

    .btn-login {
        font-weight: 600;
        padding: 10px 20px;
        background-color: #ffff00;

        &:hover {
            color: #000;
        }
    }
}

#form-login {
    padding: 30px;

    h3 {
        font-weight: 700;
    }
}

#form-login-admin {
    height: 100vh;
    padding: 30px;

    h3 {
        font-weight: 700;
    }
}

#dashboard {
    overflow-x: hidden;
    h6 {
        font-weight: 700;
    }

    .sidebar {
        background-color: #009e0f;
        width: 270px;
        height: 100vh;

        a {
            color: #fff;
        }

        .sidebar-brand {
            text-decoration: none;
            font-weight: 700;
        }

        .divider {
            color: #fff;
            border-width: 2px;
        }

        .active {
            font-weight: 700;
        }
    }

    .navbar {
        padding: 15px;
    }

    .bg-card-header {
        background-color: #fd7e14;
    }

    .label-data-siswa {
        font-weight: 700;
    }

    .laporan {
        padding: 50px 100px 50px 50px;
    }
}

#verifikasi {
    height: 100vh;
}
