// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";
@import "navbar";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Nunito", sans-serif;

    .judul {
        font-weight: 600;
        font-size: 28px;
    }

    .radius-gambar {
        border-radius: 12px;
    }

    .btn-container {
        display: flex;
        align-items: center;
    }

    .tombol-utama {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        background-color: #fff;
        color: #009e0f;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;
        position: relative;

        &:hover {
            background-color: #fff;
            color: #009e0f;
        }
    }
    .tombol-utama .ikon-panah {
        width: 0;
        overflow: hidden;
        display: inline-block;
        transition: width 0.5s;
    }
    .tombol-utama:hover .ikon-panah {
        width: 20px;
    }
    .tombol-kedua {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        background-color: transparent;
        color: #fff;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;
        border-color: #fff;
        margin-left: 12px;
        position: relative;

        &:hover {
            background-color: transparent;
            color: #fff;
            border-color: #fff;
        }
    }
    .tombol-kedua .ikon-panah {
        width: 0;
        overflow: hidden;
        display: inline-block;
        transition: width 0.5s;
    }
    .tombol-kedua:hover .ikon-panah {
        width: 20px;
    }

    .tombol {
        padding: 8px 16px;
        background-color: #009e0f;
        color: #fff;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;

        &:hover {
            background-color: #10c122;
            color: #fff;
        }
    }

    .tombol-batal {
        padding: 8px 16px;
        background-color: #ffc107;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;

        &:hover {
            background-color: rgb(255, 204, 52);
        }
    }
}

#hero {
    background-color: #009e0f;
    color: #fff;
    .row {
        padding-top: 120px;
        padding-bottom: 72px;
    }
    .display-1 {
        font-weight: 700;
        font-size: 53px;
    }
    .display-2 {
        font-weight: 600;
        font-size: 48px !important;
        margin-bottom: 12px;
    }
    .info-reg-online {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #ffff00;
        padding: 16px 32px;
        color: #000;
        h6 {
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 600;
        }
        width: fit-content;
        border-radius: 12px;
    }
}

#alur {
    .ikon-alur {
        border-radius: 6px;
        background-color: #009e0f;
        width: 4rem;
        height: 4rem;
    }

    h2 {
        font-weight: 600;
        font-size: 24px;
    }
}

#persyaratan {
    .judul {
        margin-bottom: 10px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(300px, 1fr)
        ); /* Kolom dinamis */
        gap: 20px; /* Jarak antar box */
        padding: 20px; /* Padding pada container */
    }

    .box-persyaratan {
        position: relative;
        background-color: #000;
        padding: 30px;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        h3 {
            font-weight: normal;
            font-size: 20px;
        }
    }

    .badge-persyaratan {
        background-color: #009e0f;
        padding: 10px 15px;
    }

    .corner-fold {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background: linear-gradient(
            135deg,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%
        );
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        z-index: 1;
    }

    .corner-fold::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(0, 0, 0, 0.2) 100%
        );
        clip-path: polygon(0 0, 100% 0, 0 100%);
    }
}

#grup {
    padding-bottom: 48px;
    .box-cta {
        background-color: #009e0f;
        padding: 30px;
        border-radius: 12px;
    }
    .btn-cta {
        background-color: #fff;
        color: #009e0f;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 16px;
    }
}

footer {
    a {
        text-decoration: none;
        color: #000;
    }
    h6 {
        font-weight: 600;
        color: #000;
    }
}

#sidebar-info {
    padding: 30px;
    background-color: #009e0f;
    color: #fff;

    .info-jadwal {
        margin-top: 20px;
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
        }
    }

    .btn-grup-wa {
        font-weight: 600;
        padding: 10px 20px;
        background-color: #fff;
        color: #009e0f;
    }

    .btn-login {
        font-weight: 600;
        padding: 10px 20px;
        background-color: #ffff00;

        &:hover {
            color: #000;
        }
    }
}

#form-pendaftaran {
    padding: 30px 20px;

    h5 {
        font-weight: 700;
    }
    label {
        font-weight: 700;
    }
}

#sidebar-login {
    padding: 30px;
    background-color: #009e0f;
    color: #fff;
    height: 100vh;

    .info-jadwal {
        margin-top: 20px;
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
        }
    }

    .btn-grup-wa {
        font-weight: 600;
        padding: 10px 20px;
        background-color: #fff;
        color: #009e0f;
    }

    .btn-login {
        font-weight: 600;
        padding: 10px 20px;
        background-color: #ffff00;

        &:hover {
            color: #000;
        }
    }
}

#form-login {
    padding: 30px;

    h3 {
        font-weight: 700;
    }
}

#form-login-admin {
    height: 100vh;
    padding: 30px;

    h3 {
        font-weight: 700;
    }
}

#dashboard {
    overflow-x: hidden;

    h6 {
        font-weight: 700;
    }

    .content {
        height: 100vh;
    }

    .sidebar {
        background-color: #009e0f;
        width: 320px;

        a {
            color: #fff;
        }

        .sidebar-brand {
            text-decoration: none;
            font-weight: 700;
        }

        .divider {
            color: #fff;
            border-width: 2px;
        }

        .active {
            font-weight: 700;
        }
    }

    .navbar {
        padding: 15px;
    }

    .bg-card-header {
        background-color: #fd7e14;
    }

    .label-data-siswa {
        font-weight: 700;
    }
}
